@charset "utf-8";

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    max-width: 45em;
    margin-left: 23em;
}

nav.toc {
    position: fixed;
    top: 0;
    left: 0;
    width: 19em;
    height: 100%;
    background-color: #f8f8f8;
}

nav.toc > ul {
    list-style-type: none;
    padding-left: 2em;
    padding-right: 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h2 {
    margin-top: 6rem;
    margin-bottom: 3rem;
}

dt {
    margin-top: 3rem;
}

dt + dt {
    margin-top: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

.keyword {
}

dd > pre {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 2em;
}

dd pre, dd code {
    font-size: 15px;
    line-height: 1.5rem;
}
